<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".feature.hub.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jetpack_compose_hub">
        <activity
            android:name=".feature.hub.HubActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Các bài học: KHÔNG có intent-filter LAUNCHER -->
        <activity android:name=".feature.listbaihoc.learn1_coreAndLayout.Learn1Activity" />
        <activity android:name=".feature.listbaihoc.learn2_widgetAndModifier.Learn2Activity"/>

        <activity android:name=".feature.learn5_listAndPage.hub5.Hub5Activity" />
        <activity android:name=".feature.learn5_listAndPage.feature.columnChat.ColumnActivityC" />
        <activity android:name=".feature.learn5_listAndPage.feature.columnQueen.ColumnActivityQ" />
        <activity android:name=".feature.learn5_listAndPage.feature.rowChat.RowCActivity"/>
        <activity android:name=".feature.learn5_listAndPage.feature.rowQueen.RowQActivity"/>
        <activity android:name=".feature.ztest.bottom_navigationQ315.navigationQueen315"/>

        <activity android:name=".feature.learn6_navigation.Learn6Activity"/>
        <activity android:name=".feature.ztest.navigationMVVM.NavigationMVVMActivity"/>
    </application>

</manifest>